@import '../../../../theme/variables.scss';

$ptcg-card-list-pane-padding: map-get($padding, small);
$ptcg-card-list-pane-border-radius: map-get($padding, small);

$ptcg-card-list-pane-min-height: map-get($ptcg-size, card) * $card-aspect-ratio + 2 * map-get($padding, normal);
$ptcg-card-list-pane-max-height: 3 * map-get($ptcg-size, card) * $card-aspect-ratio + 4 * map-get($padding, normal);

.ptcg-card-list-pane {
  border-radius: $ptcg-card-list-pane-border-radius;
  display: grid;
  gap: map-get($padding, small);
  grid-template-columns: repeat(auto-fill, minmax(min(92px, 100%), 1fr));
  max-height: min(72vh, $ptcg-card-list-pane-max-height + 220px);
  min-height: $ptcg-card-list-pane-min-height;
  overflow: auto;
  padding: $ptcg-card-list-pane-padding;
}

ptcg-card {
  cursor: pointer;
  margin: 0 auto;
  max-width: map-get($ptcg-size, card);
  width: 100%;
}
