@import '../../../../theme/variables.scss';

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
}

h2 {
  display: flex;
}

.ptcg-card-dialog-title {
  align-items: center;
  font-size: clamp(20px, 2vw, 28px);
  margin-bottom: 0;
}

.ptcg-card-dialog-content {
  flex: 1 1 auto;
  max-height: unset;
  min-height: 0;
}

.ptcg-card-dialog-actions {
  gap: 10px;
}
